header{ color:#C1CEFE;
padding: 30px; 
text-align: center;}

* {
    box-sizing: content-box;
}


p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}
body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    background-color: #F0F0F0;
}

header {
    font-family: 'Press Start 2P', cursive;
    background-color: #3A1772;
    padding: 50px
}

header h1 {
    margin: 0;
}

a{
    font-family: 'Poppins', sans-serif; 
}

a:link{ 
    text-decoration: none;}

a:hover{
    text-decoration: underline;

}



main {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}


section{
    display: flexbox;
    padding: 15px; 
    margin: 20px;
    border:solid 1px #3A1772;
    background-color: white;}

    .image-1{
        display: flex;
        background-image: url("https://e0.pxfuel.com/wallpapers/774/739/desktop-wallpaper-town-8-bit-resolution-artist-64-bit.jpg");
        background-position: center;
        background-repeat: none; 
        background-size: cover; 
        
        height: 35vh;
        width: 100vh;
    }

