body{
background-color: black;
margin-left: 18%; 
margin-left: 18%; 
    
} 
h1{
color: white; 
font-size: 30px; 
font-family: 'Courier Prime', monospace; 
} 
p{
color: white; 
font-size: 27px; 
font-family: 'Courier Prime', monospace; 
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 3px;
max-height: 1200px; 
}

.div1 { grid-area: 1 / 1 / 2 / 6; 
max-height: 300px; 
max-width: 910px;}
.div2 { grid-area: 2 / 1 / 3 / 3; 
max-height: 450px;
}

.div3 { grid-area: 2 / 3 / 3 / 6;
max-width: 450px; 
 }


.div4 { grid-area: 3 / 1 / 4 / 2;
max-width: 178px;
max-height: 267px; 
min-width: 178px;
min-height: 267px; 
display: inline-block;
background-image: url('../MGCT4.png');}

.div4:hover {
   
     background-image: url('../MGCT2.png');
}

.div4 a {
  display: block;
  height: 100%;
  width: 100%;
}



.div5 { grid-area: 3 / 2 / 4 / 3;
max-width: 178px;
max-height: 267px; 
display: inline-block;
background-image: url('../Chavez4.png');}

.div5:hover {
   
     background-image: url('../Chavez2.png');
}

.div5 a {
  display: block;
  height: 100%;
  width: 100%;
}


.div6 { grid-area: 3 / 3 / 4 / 4; 
max-width: 178px;
max-height: 267px; 
display: inline-block;
background-image: url('../Frida4.png');}

.div6:hover {
   
     background-image: url('../Frida2.png');
}

.div6 a {
  display: block;
  height: 100%;
  width: 100%;
}


.div7 { grid-area: 3 / 4 / 4 / 5; 
max-width: 178px;
max-height: 267px; 
display: inline-block;
background-image: url('../Marichuy4.png');}

.div7:hover {
   
     background-image: url('../Marichuy2.png');
}

.div7 a {
  display: block;
  height: 100%;
  width: 100%;
}

.div8 { grid-area: 3 / 5 / 4 / 6;
max-width: 178px;
max-height: 267px; 
display: inline-block;
background-image: url('../Ingrid4.png');}

.div8:hover {
   
     background-image: url('../Ingrid2.png');
}

.div8 a {
  display: block;
  height: 100%;
  width: 100%;
}